:root{
  --bg-color: #000105;
  --black: #000;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 22;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
body{
  background: var(--bg-color);
  display: grid;
  margin: 0;font-family: "Source Sans Pro",sans-serif;
  min-height:100vh;
  place-content: center;
  text-align: center;
}
section:first-of-type{
  align-items: center;
  background-color: var(--black);
  display: flex;
  font-family: 'Poppins', sans-serif;
  gap: 20px;
  height: 25vh;
  justify-content: center;
}
.showcase {
  height: 100vh;
  position: relative;
  width: 100%;
}
.showcase video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 99%;
}
.title {
  background-color: var(--black);
  color: #fff;
  font-size: 100px;
  height: 100%;
  mix-blend-mode: multiply;
  width: 100%;
}

h2{
  color: #fffafb;
  font-family: "Source Sans Pro",monospace;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  width: max-content;
}

h2::before, 
h2::after{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

h2::before{
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
  background: var(--bg-color);
}

h2::after {
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
  background: #fffafb;
  width: 0.125em;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}